// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss

window.Bar {
  background: transparent;
  color: #{"@theme_fg_color"};
  font-weight: bold;

  >centerbox {
    background: #{"@theme_bg_color"};
    border: 1px solid #{"@borders"};
  }

  label {
    font-weight: bold;
  }

  .separator {
    min-width: 1px;
    min-height: 16px;
    margin-left: 8px;
    margin-right: 8px;
    background: color-mix(in srgb, #{"@borders"} 100%, transparent);
  }

  .media-player {
    .media-title {
      font-size: 0.8em;
      font-weight: bold;
    }

    .media-artist {
      font-size: 0.7em;
      opacity: 0.8;
      font-weight: normal;
    }
  }

  button {
    border-radius: 4px;
    margin: 1px;
    background: transparent;
    color: #{"@theme_fg_color"};
    border: none;

    &:hover {
      background: color-mix(in srgb, #{"@theme_selected_bg_color"} 15%, transparent);
    }

    &:active,
    &:checked {
      background: color-mix(in srgb, #{"@theme_selected_bg_color"} 25%, transparent);
      color: #{"@theme_text_color"};
    }

    &:focus {
      // --- currently the focus is kept when clincking outside. I don't want that
      // background: transparent;
      // outline: 1px solid #{"@theme_selected_bg_color"};
      // outline-offset: 1px;
      background: transparent;
      outline: none;
      box-shadow: none;
    }

    &.disabled {
      opacity: 0.6;

      &:hover {
        background: color-mix(in srgb, #{"@theme_destructive_bg_color"} 15%, transparent);
      }
    }
  }

  workspaces {
    button {
      background: transparent;
      color: #{"@theme_fg_color"};
      min-width: 24px;
      min-height: 24px;

      &:active {
        background: #{"@theme_selected_bg_color"};
        color: #{"@theme_selected_fg_color"};
      }

    }

    .focused {
      background-color: #{"@theme_selected_bg_color"};
      color: #{"@theme_selected_fg_color"};

      &:hover {
        background-color: color-mix(in srgb, #{"@theme_selected_bg_color"} 85%, white);
        color: #{"@theme_selected_fg_color"};
      }
    }
  }
}
